@media(max-width:1024px){
    header, main {
        max-width: 767px;
        margin: auto;
    }
    body {
        min-height: 100vh;
    }
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: white;
    }
    .hamburger{
        display: block;
    }
    #banner {
        background-color: #262626;
        color: #ff6f00;
        text-align: center;
    }
    
    /* Adding transform to the X */
    .hamburger.active {
        transform: rotate(180deg);
    }
    /*styling the lines to make an X */
    .hamburger.active .bar:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
    
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-items {
        padding: 10px;
    }
    .nav-items.active {
        color: #f76f08;
    }
    .nav-menu.active {
        left: 0;
        text-align: center;
        max-width: 518px;
        color: #f76f08;
        background-color: rgb(0, 0, 0);
    }
   
    .logo {
        margin-left: -10px;
    }
    #title_desc{
        font-size: 13px;
    }
    .social_links {
        display: none;
    }
    #currentdate{
        font-size: 12px;
    }
    header #call-us {
        margin-left: 300px;
        padding: 10px;
        font-size: 16px;
    }
    header #call-num {
        display: none;
    }
    
    #welcome_banner{
        font-size: 13px;
        text-align: justify;
    }

    h3, h4, #vision-statement, #vision-statement p, p{
        font-size: 12px;
    }
   
    .footer_logo {
        margin: 0;
       
    }
    #footer-nav img  {
        margin-left: -42px;
    
    }
    #grid {
        display: none;
    }
    .slides {
        width: 100%;
    }
    .slides-hidden {
        display: none;
    }

    #footer_head h3 {
        font-size: 12px;
       
    }
    #footer_head {
        flex: 2;
        display: flex;
       
    }
    
    
    #footer-nav, a:hover {
        color: rgb(164, 164, 164);
    }
    
    #footer_row2 {
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1.5px solid rgb(71, 71, 71);
        text-align: center;
        padding-top: 2px;
        padding-bottom: 5px;
        background-color: rgb(0, 0, 0);
        color: white;
        font-size: 12px;
    }
    #contact-info {
        display: none;
    }
    #google-map {
        display: none;
    }
    #footing_nav {
    grid-column:  1;
    color: black;
    background-color: rgb(239, 222, 222); 
    border-radius: 15px; 
    column-width: 248px; 
    }
    #footer_row2 .copyright {
        margin-left: -12px;
        font-size: 12px;
    }
    .course_name{
        display: none;
    }
    #no_modifies {
        display: none;
    }
    #int {
        display: none;
    }
}